:root{
    --fields-color: #ECECEC;
    --background-color: #C8C2AC;
    --cereals-color: #D8B070;
    --woods-color: #7A9E75;
    --irons-color: #938F8F;
    --clays-color: #CF7159;
    --storage-color: #686868;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container{
    width: 774px;
    height: 606px;
    /*background-color: blue; /*Delete later*/
    display: grid;
    grid-template-columns: 536px 238px;
    grid-template-rows: 62px 544px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.inventory-container{
    grid-area: 1 / 1 / 2 / 3;
    /*background-color: gold; /*Delete later*/
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fields-container{
    grid-area: 2 / 1 / 3 / 2;
    /* background-color: greenyellow; /*Delete later*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.production-container{
    grid-area: 2 / 2 / 3 / 3; 
    /* background-color: pink; /*Delete later*/
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.saved-material{
    width: 150px;
    height: 35px;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.icon{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.wood-icon{
    background-color: var(--woods-color);
}
.clay-icon{
    background-color: var(--clays-color);
}
.iron-icon{
    background-color: var(--irons-color);
}
.cereal-icon{
    background-color: var(--cereals-color);
}

.village-container{
    width: 510px;
    height: 510px;
    border-radius: 10px;
    background-color: var(--background-color); 
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.four-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.village-fields{
    height: 220px;
    width: 220px;
    border-radius: 10px;
    padding-left: 6px;
    padding-top: 6px;
}

.woods-container{
    background-color: var(--woods-color);
}

.clays-container{
    background-color: var(--clays-color);
}

.irons-container{
    background-color: var(--irons-color);
}

.cereals-container{
    background-color: var(--cereals-color);
}

.field-button{
    height: 100px;
    width: 100px;
    background-color: var(--fields-color);
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

.field-button:hover, .cereal-button:hover, .storage-button:hover, #production-button:hover{
    opacity: 0.6;
}

.six-field{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cereal-button{
    height: 66px;
    width: 66px;
    background-color: var(--fields-color);
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

#cereal-button-1{grid-area: 1 / 1 / 2 / 2;}
#cereal-button-2{grid-area: 1 / 3 / 2 / 4;}
#cereal-button-3{grid-area: 2 / 2 / 3 / 3;}
#cereal-button-4{grid-area: 3 / 1 / 4 / 2;}
#cereal-button-5{grid-area: 3 / 3 / 4 / 4;}

.hour-production-container{
    width: 210px;
    height: 245px;
    background-color: var(--background-color);
    border-radius: 10px;
    margin: 17px 0;
    font-size: 13px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.storage-button{
    height: 42px;
    width: 210px;
    border-radius: 10px;
    background-color: var(--background-color);
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 17px;
}

.storage-button > p{
    margin-left: 5px;
    margin-right: 75px;
}
.storage-icon{
    background-color: var(--storage-color);
}

#production-button{
    height: 84px;
    width: 210px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
    margin-top: 45px;
}

.stat{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

